body {
  background-image: url(https://images.unsplash.com/photo-1626862868817-a774be2d1a88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG11c2ljJTIwd2FsbHBhcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
}

h1 {
  font-weight: bold;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  position: relative;
  color: #FFE3A9;
  text-shadow: 2px 2px black;
  font-size: 100px;
  animation-name: slidein;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes slidein {
  0% {
    left: 200px;
  }

  100% {
    left: 0.1px;
  }
}

p {
  font-family: 'Caveat', cursive;
  font-size: 200%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 1% 10%;
  width: 30%;
  color: #F9F9F9;
  animation-name: fadein;
  animation-duration: 2s;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #E7E6E1;
  border-width: 8px;
  width: 5%;
  opacity: 0.7;
  animation-name: fadein;
  animation-duration: 3s;
}

.row {
  width: 800px;
  height: 200px;
  opacity: 0.7;
  margin: 20px auto;
}

.column1 {
  position: relative;
  animation-name: fadein;
  animation-duration: 3s;
}

.column2 {
  position: relative;
  left: 300px;
  bottom: 203px;
  animation-name: fadein;
  animation-duration: 3s;
}

.column3 {
  position: relative;
  left: 600px;
  bottom: 408px;
  animation-name: fadein;
  animation-duration: 3s;
}

.row2 {
  width: 800px;
  height: 30px;
  margin: 20px auto;
}

.c1 {
  position: relative;
  left: 35px;
  font-family: 'Caveat', cursive;
  font-size: 150%;
  color: white;
  animation-name: fadein;
  animation-duration: 3s;
}

.c2 {
  position: relative;
  left: 312px;
  bottom: 30px;
  font-family: 'Caveat', cursive;
  font-size: 150%;
  color: white;
  animation-name: fadein;
  animation-duration: 3s;
}

.c3 {
  position: relative;
  left: 612px;
  bottom: 60px;
  font-family: 'Caveat', cursive;
  font-size: 150%;
  color: white;
  animation-name: fadein;
  animation-duration: 3s;
}
